<!DOCTYPE html>
<html lang=en>

<head>

  <meta charset=utf-8>
  <title>Daniel W. Hieber | {{pageTitle}}</title>
  <meta name=author content='{{meta.author.name}}'>
  <meta name=description content='{{meta.description}}'>
  <meta name=keywords content='{{meta.keywordsString}}'>
  <meta name=viewport content='width=device-width'>

  <link rel=stylesheet href=/css/fonts.css type=text/css>
  <link rel=stylesheet href=/css/reset.css type=text/css>
  <link rel=stylesheet href=/css/main.css type=text/css>

  {{{sections.style}}}

</head>

<body>

  {{!-- Checkbox hack for sliding menu on mobile --}}
  <input id=menuToggle type=checkbox name=menuButton>

  {{#if header}}

  {{!-- Subscribe to blog button --}}
  <button id=subscribe type=button name=subscribe onclick="window.location = 'https://blog.danielhieber.com/subscribe/';">Subscribe to my blog!</button>

  {{!-- Site header, with rotating gallery images --}}
  <header id=header>
    <a href=/>

      <h1 class=rollover>
        <span lang=en>Daniel W. Hieber</span>
        <span lang=en-fonipa>/dænjəl hibəɹ/</span>
      </h1>

      <h2>Graduate student in linguistics at the University of California, Santa Barbara</h2>

      <img id=gallery src='' opacity='0.2'>

    </a>
  </header>

  {{/if}}

  {{!-- Main site navigation --}}
  <nav id=nav>

    <label for=menuToggle>
      <img id=menuButton src=/img/menu.svg alt='open/close menu'>
    </label>

    <ul>
      {{#each nav}}
      <li {{#if selected}} class=selected {{/if}}>
        <a class=rollover href={{path}}>
          <span lang=en>{{eng}}</span>
          <span lang=en-fonipa>{{ipa}}</span>
        </a>
      </li>
      {{/each}}
    </ul>

  </nav>


  {{!-- body content should always be wrapped in a <main id=pageName></main> tag --}}
  {{{body}}}

  {{!-- Exposes Socket.IO API --}}
  <script src=/socket.io/socket.io.js charset=utf-8></script>

  {{!-- Script for the main layout --}}
  <script src=/js/pages/main.js charset=utf-8></script>

  {{!-- Runs the gallery transitions --}}
  <script src=/js/widgets/gallery.js charset=utf-8></script>

  {{!-- Scripts from individual views get loaded here --}}
  {{{sections.script}}}

</body>

</html>
