<!DOCTYPE html>
<html lang=en>

<head>

  <meta charset=utf-8>
  <title>Daniel W. Hieber | {{pageTitle}}</title>
  <meta name=author content='{{meta.author.name}}'>
  <meta name=description content='{{meta.description}}'>
  <meta name=keywords content='{{meta.keywordsString}}'>
  <meta name=viewport content='width=device-width'>

  <link rel=stylesheet href=/css/fonts.css type=text/css charset=utf-8>
  <link rel=stylesheet href=/css/reset.css type=text/css charset=utf-8>
  <link rel=stylesheet href=/css/main.css type=text/css charset=utf-8>

  {{{sections.style}}}

</head>

<body>

  <input id=menuToggle type=checkbox name=menuButton>

  <button id=subscribe type=button name=subscribe onclick="window.location = 'https://blog.danielhieber.com/subscribe/';">Subscribe to my blog!</button>

  <header id=header>
    <a href=/>

      <h1 class=rollover>
        <span lang=eng>Daniel W. Hieber</span>
        <span lang=ipa>/dænjəl hibə˞/</span>
      </h1>

      <h2>Graduate student in linguistics at the University of California, Santa Barbara</h2>

      <img id=gallery src='/img/gallery/cypress_trees.jpg'>

    </a>
  </header>

  <nav id=nav>

    <label for=menuToggle>
      <img id=menuButton src=/img/menu.svg alt='open/close menu'>
    </label>

    <ul>
      {{#each nav}}
      <li {{#if selected}} class=selected {{/if}}>
        <a class=rollover href={{path}}>
          <span lang=eng>{{eng}}</span>
          <span lang=ipa>{{ipa}}</span>
        </a>
      </li>
      {{/each}}
    </ul>

  </nav>

  {{!-- body content should always be wrapped in a <main id=pageName></main> tag --}}
  {{{body}}}

  {{!-- Azure application insights --}}
  <script src=/js/appInsights.js charset=utf-8></script>

  {{{sections.script}}}

</body>

</html>
