{{#section 'style'}}
  <link rel=stylesheet href=/css/cv.css>
{{/section}}

<main id=cv-page>

  <aside>

    <nav id=contents>
      <h1>Contents</h1>
      <ol>
        <li><a href=#education    >Education</a></li>
        <li><a href=#work         >Professional Experience</a></li>
        <li><a href=#teaching     >Teaching</a></li>
        <li><a href=#awards       >Awards &amp; Honors</a></li>
        <li><a href=#publications >Publications &amp; Presentations</a></li>
        <li><a href=#service      >Service</a></li>
        <li><a href=#memberships  >Memberships</a></li>
        <li><a href=#fieldwork    >Fieldwork &amp; Descriptive Work</a></li>
        <li><a href=#langauges    >Languages</a></li>
        <li><a href=#proficiencies>Skills &amp; Proficiencies</a></li>
        <li><a href=#media        >Media</a></li>
        <li><a href=#references   >References</a></li>
      </ol>
    </nav>

    {{> links}}

  </aside>

  <section id=cv>

    <header id=cv-header>

      <img id=headshot src='/img/headshot.jpg' alt='picture of Daniel W. Hieber' width=500px height=500px>

      <h1>Daniel W. Hieber</h1>
      <h2 lang=en-fonipa>/dænjəl hibəɹ/</h2>
      <h2>Ph.D. Candidate in Linguistics</h2>
      <h2>University of California, Santa Barbara</h2>

      <address>
        <p><a href=mailto:dhieber@umail.ucsb.edu>dhieber@umail.ucsb.edu</a></p>
        <p><a href=http://danielhieber.com>www.danielhieber.com</a></p>
        <div>
          <p>Department of Linguistics</p>
          <p>University of California, Santa Barbara</p>
          <p>South Hall 3432</p>
          <p>Santa Barbara, CA 93106-3100</p>
        </div>
      </address>

      <p id=updated>
        Last updated: <time datetime={{lastUpdatedDatetime}}>
          {{lastUpdatedDateString}}
        </time>
      </p>

      <p>Click the links below for more information on each CV item.</p>

    </header>

    <section id=education class=cv-section>

      <header>
        <h1>Education</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each education}}
          <li class=cvItem>

            <div class=date>
              <time datetime=startYear>{{startYear}}</time>
              {{#if endYear}}—<time datetime=endYear>{{endYear}}</time>{{/if}}
            </div>

            <div>

              <h2><a href={{links.org}} target=_blank>{{organization}}</a> ({{location}})</h2>
              {{#if program}}<p>Program: {{program}}</p>{{/if}}

              <ul class=bulleted>
                {{#each achievements}}
                  <li>{{{this}}}</li>
                {{/each}}
              </ul>

            </div>

          </li>
        {{/each}}
      </ol>

    </section>

    <section id=work class=cv-section>

      <header>
        <h1>Professional Experience</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each work}}
          <li class=cvItem>

            <div class=date>
              <time datetime=startYear>{{startYear}}</time>
              {{#if endYear}}—<time datetime=endYear>{{endYear}}</time>{{/if}}
            </div>

            <div>
              <h2><a href={{links.org}} target=_blank>{{role}}, {{organization}}</a></h2>
              <ul class=bulleted>
                {{#each achievements}}
                  <li>{{{this}}}</li>
                {{/each}}
              </ul>
            </div>

          </li>
        {{/each}}
      </ol>

    </section>

    <section id=teaching class=cv-section>

      <header>
        <h1>Teaching</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each course}}
          <li class=cvItem>

            {{#if links.info}}
              <h2><a href={{links.info}} target=_blank>{{title}} ({{role}}, {{organization}})</a></h2>
            {{else}}
              <h2>{{title}} ({{role}}, {{organization}})</h2>
            {{/if}}

            <div class=description>{{{html}}}</div>

          </li>
        {{/each}}
      </ol>

    </section>

    <section id=awards class=cv-section>

      <header>
        <h1>Awards &amp; Honors</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each award}}
          <li class=cvItem>
            <time class=date datetime=startYear>{{year}}</time>
            <div class=description><a href={{links.info}} target=_blank>{{title}}</a> {{{html}}}</div>
          </li>
        {{/each}}
      </ol>

    </section>

    <section id=publications class=cv-section>
      <header>
        <h1>Publications &amp; Presentations</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=service class=cv-section>

      <header>
        <h1>Service</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each service}}
          <li class=cvItem>

            <div class=date>
              <time datetime=startYear>{{startYear}}</time>
              {{#if endYear}}—<time datetime=endYear>{{endYear}}</time>{{/if}}
            </div>

            <h2><a href={{links.org}} target=_blank>{{role}}, {{organization}}{{#if abbreviation}} ({{abbreviation}}){{/if}}</a></h2>

          </li>
        {{/each}}
      </ol>

    </section>

    <section id=memberships class=cv-section>

      <header>
        <h1>Memberships</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each membership}}
          <li class=cvItem><a href={{links.org}} target=_blank>{{organization}} ({{abbreviation}})</a></li>
        {{/each}}
      </ol>

    </section>

    <section id=fieldwork class=cv-section>

      <header>
        <h1>Fieldwork &amp; Descriptive Work</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each fieldwork}}
          <li class=cvItem>

            <div class=date>
              <time datetime=startYear>{{startYear}}</time>
              {{#if endYear}}—<time datetime=endYear>{{endYear}}</time>{{/if}}
            </div>

            <div class=description><strong>{{location}}.</strong> {{{html}}}</div>

          </li>
        {{/each}}
      </ol>

    </section>

    <section id=languages class=cv-section>

      <header>
        <h1>Languages</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each language}}
          <li class=cvItem>
            <p><a href={{links.info}}>{{title}} ({{autonym}})</a></p>
            <p>{{competency}}</p>
          </li>
        {{/each}}
      </ol>

    </section>

    <section id=proficiencies class=cv-section>

      <header>
        <h1>Skills &amp; Proficiencies</h1>
        <a href=#>Back to Top</a>
      </header>

      <section>
        <h2>Technical Skills</h2>
        <ol>
          {{#each proficiency.skill}}
            <li><a href={{links.info}}>{{title}}</a></li>
          {{/each}}
        </ol>
      </section>

      <section>
        <h2>Software Proficiencies</h2>
        <ol>
          {{#each proficiency.software}}
            <li><a href={{links.info}}>{{title}}</a></li>
          {{/each}}
        </ol>
      </section>

    </section>

    <section id=media class=cv-section>

      <header>
        <h1>Media About Me</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each media}}
          <li class=cvItem>
            <time class=date datetime={{datetime}}>{{dateString}}</time>
            <p><a href={{links.pub}}>{{title}}</a>, by {{author}}. {{publication}}</p>
          </li>
        {{/each}}
      </ol>

    </section>

    <section id=references class=cv-section>

      <header>
        <h1>References</h1>
        <a href=#>Back to Top</a>
      </header>

      <ol>
        {{#each reference}}
          <li>
            <h2><a href={{links.info}}>{{name}}</a></h2>
            <p>{{role}}</p>
            <p>{{organization}}</p>
            {{#if phone}}<p>{{phone}}</p>{{/if}}
            <p><a href=mailto:{{email}}>{{email}}</a></p>
          </li>
        {{/each}}
      </ol>

    </section>

  </section>

</main>
