{{#section 'style'}}
  <link rel=stylesheet href=/css/research.css>
{{/section}}

<main id=research>

  <header>
    <h1>Research</h1>
    <p>Click on a topic to read more.</p>
  </header>

  <section>
    <ul>
      {{#each categories}}
        <li data-key="{{key}}">
          <input type=radio id="{{key}}" name="tabs">
          <label for="{{key}}">{{title}}</label>
          <div class=description>
            {{{html}}}
          </div>
        </li>
      {{/each}}
    </ul>
  </section>

</main>
