<section id={{CVTypes.memberships.id}} class=cv-section>

  {{> cv/header-section/index CVTypes.memberships.header}}

  <ol>
    {{#each CVItems.memberships}}
      <li id='{{cvid}}' class='cv-item cv-item-content'>
        <p class=cv-item-title><a href='{{links.org}}'>{{organization}}{{#if abbreviation}} ({{abbreviation}}){{/if}}</a></p>
      </li>
    {{/each}}
  </ol>

</section>
