<section id=awards class=cv-section>

  {{> cv/section-header/index 'Awards & Honors'}}

  <ol>
    {{#each CVItems.awards}}
      <li id='{{cvid}}' class=cv-item>

        {{> cv/date/index}}

        <div class='cv-item-content description'>

          <p class=cv-item-title>
            {{#if links.info}}
              <a href='{{links.info}}'>{{title}}</a>
            {{else}}
              <strong>{{title}}</strong>
            {{/if}}
          </p>

          {{!-- This content is automatically wrapped in tags by the Markdown helper --}}
          {{md description}}

        </div>

      </li>
    {{/each}}
  </ol>

</section>
