{{!-- HTML for the date component of the CV page --}}

<div class=date>
  {{#if year}}
    <time datetime='{{year}}'>{{year}}</time>
  {{else if date}}
    <time datetime='{{date}}'>{{dateString}}</time>
  {{else}}
    <time datetime='{{startYear}}'>{{startYear}}</time>{{#if ongoing}}—present{{else if endYear}}—<time datetime='{{endYear}}'>{{endYear}}</time>{{/if}}
  {{/if}}
</div>
