<!DOCTYPE html>
<html lang=en>

  {{!-- HTML for the main layout --}}

  <head>

    <!-- Critical metadata -->
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Daniel W. Hieber | {{pageTitle}}</title>

    <!-- SEO -->
    <meta name=author content='{{meta.author.name}}'>
    <meta name=description content="{{meta.description}}">
    <meta name=generator content=Atom>
    <meta name=googlebot content='index,follow'>
    <meta name=keywords content='{{#each meta.keywords}}{{#if @last}}{{@this}}{{else}}{{@this}}, {{/if}}{{/each}}'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Daniel W. Hieber'>

    <!-- Facebook Open Graph -->
    <meta property=og:description content='{{meta.description}}'>
    <meta property=og:image content={{cdn}}/img/grad_slam.jpg>
    <meta property=og:locale content=en_US>
    <meta property=og:title content='Daniel W. Hieber'>
    <meta property=og:type content=website>
    <meta property=og:url content=https://danielhieber.com>

    <!-- Twitter Card (also uses og properties) -->
    <meta name=twitter:card content=summary>
    <meta name=twitter:creator content=@dwhieb>

    <!-- Links -->
    <link rel=author href=https://danielhieber.com>
    <link rel=icon type=image/png href={{cdn}}/img/karate_wugbot.png>
    <link rel=icon type=image/png href={{cdn}}/img/karate_wugbot.svg>
    <link rel=license href=https://github.com/dwhieb/danielhieber.com/blob/master/.github/LICENSE.md>

    <!-- Prerender CV page -->
    <link href=/cv rel=prerender>

    <!-- Preload Critical Assets -->
    <link href={{cdn}}/fonts/FiraSans-Light.woff2 rel=preload as=font type=font/woff2 crossorigin>
    <link href={{cdn}}/fonts/FiraSans-Medium.woff2 rel=preload as=font type=font/woff2 crossorigin>

    <!-- Critical CSS -->
    <style>
      {{{css}}}
    </style>

    {{!-- Styling for pages and components --}}
    {{#each head}}
      {{{this}}}
    {{/each}}

  </head>

  <body>

    <a href=#{{id}} class=skip-link>Skip to main content</a>

    {{!-- Site Header --}}
    {{#if header}}
      <header id=header>
        <h1 class=header-banner><a href=/ class=rollover>
          <span lang=en>Daniel W. Hieber</span>
          <span lang=en-fonipa-x-emic>{{ipaName}}</span>
        </a></h1>
        <p class=subtitle><a href=/ class=non-link>Ph.D. Candidate in Linguistics at the University of California, Santa Barbara</a></p>
        <a href=/ class=non-link><img id=gallery alt='Rotating gallery of images from my fieldwork' src={{cdn}}/img/gallery/letter_blocks.jpg aria-hidden=true></a>
      </header>
    {{/if}}{{!-- end site header (and its conditional) --}}

    <!-- Main Site Navigation -->
    <nav id=nav aria-label='Site Navigation'>

      <ul>

        <li>
          <a {{#if home}} href=#home aria-describedby=current {{else}} href=/ {{/if}} class=rollover>
            <span lang=en>Home</span>
            <span lang=en-fonipa-x-emic>hoᶷm</span>
          </a>
        </li>

        <li>
          <a {{#if research}} href=#research aria-describedby=current {{else}} href=/research {{/if}} class=rollover>
            <span lang=en>Research</span>
            <span lang=en-fonipa-x-emic>ɹisɚt͡ʃ</span>
          </a>
        </li>

        <li>
          <a {{#if cv}} href=#cv aria-describedby=current {{else}} href=/cv {{/if}} class=rollover>
            <span lang=en>Curriculum Vitae</span>
            <span lang=en-fonipa-x-emic>kəɹɪkjələm vitaᶦ</span>
          </a>
        </li>

        <li>
          <a href=https://digitallinguistics.io class=rollover>
            <span lang=en>Digital Linguistics</span>
            <span lang=en-fonipa-x-emic>dɪd͡ʒɪtəl lɪŋgwɪstɪks</span>
          </a>
        </li>

        <li>
          <a href=https://blog.danielhieber.com class=rollover>
            <span lang=en>Blog</span>
            <span lang=en-fonipa-x-emic>blɑg</span>
          </a>
        </li>

        <li>
          <a {{#if bibliographies}} href=#bibliographies aria-describedby=current {{else}} href=/bibliographies {{/if}} class=rollover>
            <span lang=en>Bibliographies</span>
            <span lang=en-fonipa-x-emic>bɪbliɑgɹəfiz</span>
          </a>
        </li>

        {{#if admin}}
          <li>
            <a href=/admin class=rollover aria-describedby=current>
              <span lang=en>Admin</span>
              <span lang=en-fonipa-x-emic>ædmɪn</span>
            </a>
          </li>
        {{/if}}

        {{!-- <li>
          <a {{#if languages}} href=#languages aria-describedby=current {{else}} href=/languages {{/if}} class=rollover>
            <span lang=en>Languages</span>
            <span lang=en-fonipa-x-emic>læŋgwɪd͡ʒɪz</span>
          </a>
        </li> --}}

        {{!-- <li>
          <a {{#if personal}} href=#personal aria-describedby=current {{else}} href=/personal {{/if}} class=rollover>
            <span lang=en>Personal</span>
            <span lang=en-fonipa-x-emic>pɜɹsənəl</span>
          </a>
        </li> --}}

        {{!-- <li>
          <a {{#if teaching}} href=#teaching aria-describedby=current {{else}} href=/teaching {{/if}} class=rollover>
            <span lang=en>Teaching</span>
            <span lang=en-fonipa-x-emic>tit͡ʃɪŋ</span>
          </a>
        </li> --}}

      </ul>{{!-- End nav ul --}}

      {{!-- Describes the current page to assistive technologies --}}
      <div hidden id=current>Current Page</div>

    </nav>{{!-- End main nav --}}

    <!-- Main content -->
    {{!-- Should always be wrapped in a <main id=pageName></main> tag --}}
    {{{body}}}

    {{!-- Main site footer --}}
    <footer id=footer>

      {{!-- GitHub --}}
      <p class=github>
        <a aria-label='GitHub repository for this site' href='https://github.com/dwhieb/danielhieber.com' class=non-link>
          <svg class=svg-octicon aria-hidden=true aria-labelledby=title-github height='64pt'>
            <title id=title-github>GitHub repository for this site</title>
            <use href=#octicon></use>
          </svg>
        </a>
        <a href='https://github.com/dwhieb/danielhieber.com'>View source on GitHub</a>
      </p>

      {{!-- License --}}
      <p class=cc>
        <a aria-label='Creative Commons BY-NC 4.0' href='https://creativecommons.org/licenses/by-nc/4.0/' rel=license class=non-link>
          <svg class=svg-cc aria-hidden=true aria-labelledby=title-cc height=42 width=120>
            <title id=title-cc>Creative Commons BY-NC 4.0</title>
            <use href=#cc-by-nc></use>
          </svg>
        </a>
        <span>Most of the content on this site is licensed under a <a href='http://creativecommons.org/licenses/by-nc/4.0/' rel=license>Creative Commons Attribution-NonCommercial 4.0 International License</a>. See the <a href='https://github.com/dwhieb/danielhieber.com/blob/master/LICENSE.md' rel=license>license page</a> for more details.</span>
      </p>

    </footer>

    <!-- Critical JS -->
    <script>

      // Application Insights
      {{{appInsights}}}

      // Register offline worker
      {{#unless editor}}
        {{{worker}}}
      {{/unless}}

      // List of gallery images
      {{{images}}}

      // Gallery widget
      {{#if header}}
        {{{gallery}}}
      {{/if}}

    </script>

    <!-- SVG icons -->
    {{{svg}}}

    {{!-- Scripts from individual views get loaded here --}}
    {{{sections.script}}}

  </body>

</html>
