{{#head 'editor'}}

  <!-- Styling for Editor page -->
  <link rel=stylesheet href={{baseURL}}/css/editor.css>

{{/head}}

<main id={{id}}>

  <select id=dropdown>

    <option value=placeholder disabled selected>CV Type</option>

    {{#each types}}
      <option value={{@key}}>{{@key}}</option>
    {{/each}}

  </select>

  <h1 class=page-title>{{Type}}</h1>

  <nav id=list>

    <button
      form=form
      formaction='/admin/{{coll}}'
      name=addItem
      type=submit
      value=true>
      Add Item
    </button>

    <ol>
      {{#each docs}}
        <li>
          <a href='/admin/{{../coll}}/{{cvid}}'>
            {{#if title}}
              {{title}}
            {{else if name}}
              {{name}}
            {{else if organization}}
              {{organization}}
            {{else if location}}
              {{location}} ({{languages}})
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ol>

  </nav>

  <form id=form method=post action=/admin/{{coll}}/{{doc.cvid}}>

    {{!-- CSRF token --}}
    <input id=csrf type=hidden name=_csrf value='{{csrf}}'>

    {{#if doc}}
      {{#with doc}}

      {{!-- Document ID --}}
      <input id=id type=hidden name=id value='{{id}}'>


      {{!-- Achievements --}}
      {{#*inline "achievement"}}
        <li>

          <input
            inputmode=latin-prose
            name=achievements
            placeholder='Brief description of this achievement'
            type=text
            value='{{this}}'>

          <button type=button name=deleteAchievement class=trash>
            {{{../icons.delete}}}
          </button>

        </li>
      {{/inline}}

      {{#if achievements}}

        <fieldset class=achievements>

          <legend>Achievements</legend>

          <ul>
            {{#each achievements}}
              {{> achievement this}}
            {{/each}}
          </ul>

          <button id=addAchievementButton type=button name=addAchievement>Add Achievement</button>

          <template id=achievement-template>
            {{> achievement ""}}
          </template>

        </fieldset>

      {{/if}}
      {{!-- End achievements --}}


      {{!-- Buttons --}}
      <div class=buttons>

        {{!-- Save button --}}
        <button id=saveButton type=submit name=saveItem value=true>Save</button>

        {{!-- Delete button --}}
        <button id=deleteButton type=submit name=deleteItem value=true>Delete</button>

      </div>
      {{!-- End buttons --}}


      {{/with}}
    {{/if}}

  </form>

</main>

{{#section 'script'}}

  <!-- Script for Editor page -->
  <script src=/js/editor.js type=module defer></script>

{{/section}}
