{{#head 'editor'}}

  <!-- Styling for Editor page -->
  <link rel=stylesheet href={{baseURL}}/css/editor.css>

{{/head}}

<main id={{id}}>

  <select id=dropdown>

    <option value=placeholder disabled selected>CV Type</option>

    {{#each types}}
      <option value={{@key}}>{{@key}}</option>
    {{/each}}

  </select>

  <h1 class=page-title>{{Type}}</h1>

  <nav id=list>
    <ol>
      {{#each docs}}
        <li><a href='/admin/{{../type}}/{{cvid}}'>{{title}}</a></li>
      {{/each}}
    </ol>
  </nav>

</main>

{{#section 'script'}}

  <!-- Script for Editor page -->
  <script src=/js/editor.js type=module defer></script>

{{/section}}
