{{#head 'editor'}}

  <!-- Styling for Editor page -->
  <link rel=stylesheet href={{baseURL}}/css/editor.css>

{{/head}}

<main id={{id}}>

  <select id=dropdown>

    <option value=placeholder disabled selected>CV Type</option>

    {{#each types}}
      <option value={{@key}}>{{@key}}</option>
    {{/each}}

  </select>

  <h1 class=page-title>{{Type}}</h1>

  <nav id=list>

    <button
      form=form
      formaction='/admin/{{coll}}'
      name=addItem
      type=submit
      value=true>
      Add Item
    </button>

    <ol>
      {{#each docs}}
        <li>
          <a href='/admin/{{../coll}}/{{cvid}}'>
            {{#if title}}
              {{title}}
            {{else if name}}
              {{name}}
            {{else if organization}}
              {{organization}}
            {{else if location}}
              {{location}} ({{languages}})
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ol>

  </nav>

  <form id=form method=post action=/admin/{{coll}}/{{doc.cvid}}>

    {{!-- CSRF token --}}
    <input id=csrf type=hidden name=_csrf value='{{csrf}}'>

    {{#if doc}}
      {{#with doc}}

      {{!-- Document ID --}}
      <input id=id type=hidden name=id value='{{id}}'>

      {{!-- {{#if achievements}}

        <fieldset class=achievements>

          <ul>
            {{#each achievements}}
              <li>

                <input
                  inputmode=latin-prose
                  placeholder='Brief description of this achievement'
                  type=text
                  value='{{this}}'>

                <button type=button name=deleteAchievement>
                  {{../icons.delete}}
                </button>

              </li>
            {{/each}}
          </ul>

        </fieldset>

      {{/if}} --}}
      {{!-- End achievements --}}

      {{!-- Save button --}}
      <button id=saveButton type=submit name=saveItem value=true>Save</button>

      {{!-- Delete button --}}
      <button id=deleteButton type=submit name=deleteItem value=true>Delete</button>

      {{/with}}
    {{/if}}
    {{!-- End doc info --}}

  </form>

</main>

{{#section 'script'}}

  <!-- Script for Editor page -->
  <script src=/js/editor.js type=module defer></script>

{{/section}}
