<section id=cvBody>

  {{#with sections.publications}}
    <section id=publications>
      {{> sectionHeader this}}

      {{#each publicationTypes}}
        <section id={{@key}}>
          {{> sectionHeader this}}

          <ol>
          {{#each items}}
            <li id={{id}} class=cvItem>
              <time datetime={{date}}>{{year}}</time>
              <div>
                <h2>
                  {{#if links.pubLink}}
                    <a href='{{links.pubLink}}'>{{{title}}}.</a>
                  {{else}}
                    <strong>{{{title}}}.</strong>
                  {{/if}}
                </h2>
                <p>{{{citation}}}</p>
                <p>
                  {{#if links.pubLink}}(<a href='{{links.pubLink}}'>view online</a>){{/if}}
                  {{#if links.purchaseLink}}(<a href='{{links.purchaseLink}}'>purchase</a>){{/if}}
                  {{#if links.paper}}(<a href='{{links.pdf}}'>pdf</a>){{/if}}
                  {{#if links.slides}}(<a href='{{links.slides}}'>slides</a>){{/if}}
                  {{#if links.handout}}(<a href='{{links.handout}}'>handout</a>){{/if}}
                  {{#if links.poster}}(<a href='{{links.handout}}'>handout</a>){{/if}}
                </p>
              </div>
            </li>
          {{/each}}
          </ol>
        </section>
      {{/each}}

    </section>
  {{/with}}

  {{#with sections.media}}
    <section id=media>
      {{> sectionHeader this}}

      <ol>
      {{#each items}}
        <li id={{id}} class=cvItem>
          <time datetime={{date}}>{{date}}</time>
          <p><a href='{{links.pubLink}}'>{{{title}}}</a>, by {{{author}}}. {{{publication}}}</p>
        </li>
      {{/each}}
      </ol>
    </section>
  {{/with}}

  {{#with sections.references}}
    <section id=references>
      {{> sectionHeader this}}

      <ul>
      {{#each items}}
        <li id={{id}}>
          <h2><a href='{{links.homepage}}'>{{name}}</a></h2>
          <p>{{role}}</p>
          <p>{{organization}}</p>
          <p>{{phone}}</p>
          <p><a href=mailto:{{email}}>{{email}}</a></p>
        </li>
      {{/each}}
      </ul>
    </section>
  {{/with}}

</section>
