<div>
  <p>
    {{#if links.pubLink}}(<a href='{{links.pubLink}}'>view online</a>){{/if}}
    {{#if links.purchaseLink}}(<a href='{{links.purchaseLink}}'>purchase</a>){{/if}}
    {{#if links.paper}}(<a href='{{links.pdf}}'>pdf</a>){{/if}}
    {{#if links.slides}}(<a href='{{links.slides}}'>slides</a>){{/if}}
    {{#if links.handout}}(<a href='{{links.handout}}'>handout</a>){{/if}}
    {{#if links.poster}}(<a href='{{links.handout}}'>handout</a>){{/if}}
  </p>
</div>
