{{!-- HTML for the CV Publications section --}}

<section id={{CVTypes.publications.id}} class=cv-section>

  {{> cv/header-section/index CVTypes.publications.header}}

  {{#each CVItems.publications}}
    <section id=publications-{{@key}}>

      <h3 class=header-subsection>{{title}}</h3>

      <ol>
        {{#each this}}
          <li id='{{cvid}}' class=cv-item>

            {{> cv/date/index }}

            <div class=cv-item-content>

              <p class=cv-item-title>
                {{#with links}}
                  {{#or 'pdf' 'poster' 'handout' 'slides' 'pub' 'info'}}
                    <a
                      aria-label='Publication Title: {{title}}'
                      data-track='{{../key}}'
                      href='{{#if pdf}}{{pdf}}
                        {{else if poster}}{{poster}}
                        {{else if handout}}{{handout}}
                        {{else if slides}}{{slides}}
                        {{else if pub}}{{pub}}
                        {{else if info}}{{info}}
                      {{/if}}'>{{md ../title 'inline'}}</a>
                  {{else}}
                    <strong aria-label='Publication Title: {{title}}'>{{md ../title 'inline'}}</strong>
                  {{/or}}
                {{/with}}
              </p>

              <div class=description>
                {{md description}}
              </div>

              {{#if links.doi}}
                <p class=doi>
                  DOI: <a href='{{links.doi}}'>{{links.doi}}</a>
                </p>
              {{/if}}

              <p class=links>
                {{#with links}}
                  {{#if abstract}}<a data-track='{{../key}}' href='{{abstract}}'>(abstract)</a>{{/if}}
                  {{#if pdf}}     <a data-track='{{../key}}' href='{{pdf}}'     >(paper)</a>{{/if}}
                  {{#if poster}}  <a data-track='{{../key}}' href='{{poster}}'  >(poster)</a>{{/if}}
                  {{#if handout}} <a data-track='{{../key}}' href='{{handout}}' >(handout)</a>{{/if}}
                  {{#if slides}}  <a data-track='{{../key}}' href='{{slides}}'  >(slides)</a>{{/if}}
                  {{#if pub}}     <a data-track='{{../key}}' href='{{pub}}'     >(view online)</a>{{/if}}
                  {{#if info}}    <a data-track='{{../key}}' href='{{info}}'    >(more info)</a>{{/if}}
                {{/with}}
              </p>

              {{#is publicationType 'online'}}
                <p class=full-link>
                  Accessible at: <a href={{links.pub}} data-track={{key}}>{{links.pub}}</a>
                </p>
              {{/is}}

            </div>

          </li>
        {{/each}}
      </ol>

    </section>
  {{/each}}

</section>
