<section id={{CVTypes.courses.id}} class=cv-section>

  {{> cv/section-header/index CVTypes.courses.header}}

  <ol>
    {{#each CVItems.courses}}
      <li id='{{cvid}}' class=cv-item>

        {{!-- NB: Do not apply .cv-item-content here - it moves title unnecessarily on small screens --}}
        <h4 class=cv-item-title>
          {{#if links.info}}
            <a href="{{links.info}}" target=_blank>{{title}} ({{role}}, {{organization}})</a>
          {{else}}
            <strong>{{title}} ({{role}}, {{organization}})</strong>
          {{/if}}
        </h4>

        <div class=description>
          {{md description}}
        </div>

      </li>
    {{/each}}
  </ol>

</section>
