{{#head 'error'}}

  <!-- Styling for Error page -->
  <link rel=preload href={{cdn}}/css/error.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href={{cdn}}/css/error.css>
  </noscript>

{{/head}}

<main id=error>
  <h2 class=header-page>{{statusCode}}: {{error}}</h2>
  <p>{{{message}}}</p>
</main>
