<section id={{CVTypes.work.id}} class=cv-section>

  {{> cv/section-header/index CVTypes.work.header}}

  <ol>
    {{#each CVItems.work}}
      <li id='{{cvid}}' class=cv-item>

        {{> cv/date/index}}

        <div class=cv-item-content>

          <p class=cv-item-title>
            {{#if links.org}}
              <a href='{{links.org}}'>{{role}}, {{organization}}</a>
            {{else}}
              <strong>{{role}}, {{organization}}</strong>
            {{/if}}
          </p>

          <ul class='achievements bulleted'>
            {{#each achievements}}
              {{!-- The content of the following <li> is wrapped in <p> tags by the Markdown helper --}}
              <li>{{md this}}</li>
            {{/each}}
          </ul>

        </div>

      </li>
    {{/each}}
  </ol>

</section>
