<section id=service class=cv-section>

  {{> cv/section-header/index 'Service'}}

  <ol>
    {{#each CVItems.service}}
      <li id='{{cvid}}' class=cv-item>

        {{> cv/date/index }}

        <p class='cv-item-content cv-item-title'><a href='{{links.org}}'>{{role}}, {{organization}}{{#if abbreviation}} ({{abbreviation}}){{/if}}</a></p>

      </li>
    {{/each}}
  </ol>

</section>
