{{!-- HTML for the Teaching page --}}

{{#head 'teaching'}}
  <link rel=stylesheet href={{cdn}}/css/teaching.css>
{{/head}}

<main id={{id}}>

  <h2 class=header-page>Teaching</h2>

  <section class=syllabi>

    <h2 class=header-section>Syllabi</h2>

    <p>
      Below are links to a few syllabi I have prepared for courses I have taught or would like to teach. (Click the title of a course to view the syllabus.)
    </p>

    <ul>

      <li>

        <h3 class=header-subsection><a href=/teaching/lang-life class=link>Language & Life</a></h3>

        <p>{{> teaching/lang-life/description}} (<a href=/teaching/lang-life>syllabus</a>)</p>

      </li>

    </ul>

  </section>

  <section class=courses>

    <h2 class=header-section>Courses Taught</h2>

    <ul>
      {{#each courses}}
        <li>

          <h3 class=header-subsection>{{{title}}}{{#if role}} ({{role}}){{/if}}</h3>

          <div class=description>
            {{md description}}
          </div>

        </li>
      {{/each}}
    </ul>

  </section>

</main>
