<section id={{CVTypes.proficiencies.id}} class=cv-section>

  {{> cv/header-section/index CVTypes.proficiencies.header}}

  <section id=skills>

    <h3 class=header-subsection>Technical Skills</h3>

    <ol>
      {{#each CVItems.proficiencies.skills}}
        <li><p class=cv-item-title><a href='{{links.info}}'>{{title}}</a></p></li>
      {{/each}}
    </ol>

  </section>

  <section id=software>

    <h3 class=header-subsection>Software Proficiencies</h3>

    <ol>
      {{#each CVItems.proficiencies.software}}
        <li><p class=cv-item-title><a href='{{links.info}}'>{{title}}</a></p></li>
      {{/each}}
    </ol>

  </section>

</section>
