{{!-- HTML for the CV Editor page --}}

{{#head 'admin-cv'}}

  <!-- Styling for CV Editor page -->
  <link rel=stylesheet href={{cdn}}/css/admin-cv.css>

{{/head}}

{{#*inline 'fileType'}}
  <select {{#if name}}name='{{name}}'{{/if}}>
    <option value=abstract {{#eq @key 'abstract'}}selected{{/eq}}>abstract</option>
    <option value=doi {{#eq @key 'doi'}}selected{{/eq}}>doi</option>
    <option value=handout {{#eq @key 'handout'}}selected{{/eq}}>handout</option>
    <option value=info {{#eq @key 'info'}}selected{{/eq}}>info</option>
    <option value=org {{#eq @key 'org'}}selected{{/eq}}>org</option>
    <option value=pdf {{#eq @key 'pdf'}}selected{{/eq}}>pdf</option>
    <option value=poster {{#eq @key 'poster'}}selected{{/eq}}>poster</option>
    <option value=pub {{#eq @key 'pub'}}selected{{/eq}}>pub</option>
    <option value=slides {{#eq @key 'slides'}}selected{{/eq}}>slides</option>
    <option value=video {{#eq @key 'video'}}selected{{/eq}}>video</option>
  </select>
{{/inline}}

<main id={{id}}>

  <select id=dropdown>

    <option value=placeholder disabled selected>CV Type</option>

    {{#each CVTypes}}
      <option value='{{@key}}'>{{header}}</option>
    {{/each}}

  </select>

  <h1 class=header-page>{{Type}}</h1>

  <nav class=list>

    <div class=buttons>

      <button
        form=form
        formaction='/admin/{{coll}}'
        name=addItem
        type=submit
        value=true>
        Add Item
      </button>

    </div>

    <ol>
      {{#each docs}}
        <li>
          <a href='/admin/{{../coll}}/{{cvid}}'>
            {{#if title}}
              {{title}}
            {{else if name}}
              {{name}}
            {{else if organization}}
              {{organization}}
            {{else if location}}
              {{location}} ({{languages}})
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ol>

  </nav>

  <form id=form class=form method=post action='/admin/{{coll}}/{{doc.cvid}}'>

    {{!-- CSRF token --}}
    <input id=csrf type=hidden name=_csrf value='{{csrf}}'>

    {{#if doc}}
      {{#with doc}}


      {{!-- Document ID --}}
      <input id=id type=hidden name=id value='{{id}}'>


      {{!-- Hidden --}}
      <label for=hidden>

        <b>Hidden</b>

        <input
          name=hidden
          type=checkbox
          {{#if hidden}}checked{{/if}}>

        <p>Do not display this item on your CV</p>

      </label>


      {{!-- Publication Type --}}
      {{#isType "publication"}}
        <label for=publicationType>

          <b>Publication Type</b>

          <select name=publicationType>
            <option value=edited {{#eq publicationType 'edited'}}selected{{/eq}}>edited</option>
            <option value=non-linguistic {{#eq publicationType 'non-linguistic'}}selected{{/eq}}>non-linguistic</option>
            <option value=online {{#eq publicationType 'online'}}selected{{/eq}}>online</option>
            <option value=peer-reviewed {{#eq publicationType 'peer-reviewed'}}selected{{/eq}}>peer-reviewed</option>
            <option value=presentation {{#eq publicationType 'presentation'}}selected{{/eq}}>presentation</option>
            <option value=project {{#eq publicationType 'project'}}selected{{/eq}}>project</option>
            <option value=review {{#eq publicationType 'review'}}selected{{/eq}}>review</option>
            <option value=unpublished {{#eq publicationType 'unpublished'}}selected{{/eq}}>unpublished</option>
          </select>

        </label>
      {{/isType}}


      {{!-- Title --}}
      {{#isType 'award, category, course, language, media, proficiency, publication'}}
        <label for=title>

          <b>Title</b>

          <input
            inputmode=latin
            name=title
            placeholder=Title
            required
            type=text
            value='{{title}}'>

        </label>
      {{/isType}}


      {{!-- Year --}}
      {{#isType 'award'}}
        <label for=year>

          <b>Year</b>

          <input
            inputmode=numeric
            max=2100
            min=1986
            name=year
            placeholder=YYYY
            required
            type=number
            value='{{year}}'>

        </label>
      {{/isType}}


      {{!-- Organization --}}
      {{#isType 'course, education, membership, reference, service, work'}}
        <label for=organization>

          <b>Organization</b>

          <input
            inputmode=latin
            name=organization
            placeholder=Organization
            required
            type=text
            value='{{organization}}'>

        </label>
      {{/isType}}


      {{!-- Role --}}
      {{#isType 'course, reference, service'}}
        <label for=role>

          <b>Role</b>

          <input
            inputmode=latin
            name=role
            placeholder=Role
            required
            type=text
            value='{{role}}'>

        </label>
      {{/isType}}


      {{!-- Program --}}
      {{#isType 'education'}}
        <label for=program>

          <b>Program</b>

          <input
            inputmode=latin
            name=program
            placeholder=Program
            type=text
            value='{{program}}'>

        </label>
      {{/isType}}


      {{!-- Start Year --}}
      {{#isType 'education, fieldwork, service, work'}}
        <label for=startYear>

          <b>Start Year</b>

          <input
            inputmode=numeric
            max=2100
            min=1986
            name=startYear
            placeholder=YYYY
            required
            type=number
            value='{{startYear}}'>

        </label>
      {{/isType}}


      {{!-- Key --}}
      {{#isType 'category, publication'}}
        <label for=key>

          <b>Key</b>

          <input
            inputmode=verbatim
            name=key
            pattern='^[-A-Za-z0-9]+$'
            placeholder='A human-readable key for this item'
            required
            type=text
            value='{{key}}'>

        </label>
      {{/isType}}


      {{#isType 'language'}}

        {{!-- Autonym --}}
        <label for=autonym>

          <b>Autonym</b>

          <input
            inputmode=full-width-latin
            name=autonym
            placeholder=autonym
            required
            type=text
            value='{{autonym}}'>

        </label>

        {{!-- Competency --}}
        <label for=competency>

          <b>Competency</b>

          <select name=competency>
            {{#each comp}}
              <option value='{{@key}}' {{#if this}}selected{{/if}}>{{@key}}</option>
            {{/each}}
          </select>

        </label>

      {{/isType}}
      {{!-- End language fields (autonym, competency) --}}


      {{!-- Author --}}
      {{#isType 'media'}}

        <label for=author>

          <b>Author</b>

          <input
            inputmode=latin-name
            name=author
            placeholder=Author
            required
            type=text
            value='{{author}}'>

        </label>

        <label for=publication>

          <b>Publication</b>

          <input
            inputmode=latin
            name=publication
            placeholder=Publication
            required
            type=text
            value='{{publication}}'>

        </label>

      {{/isType}}


      {{!-- Abbreviation --}}
      {{#isType 'membership, service'}}
        <label for=abbreviation>

          <b>Abbreviation</b>

          <input
            inputmode=verbatim
            name=abbreviation
            placeholder=ABBR
            type=text
            value='{{abbreviation}}'>

        </label>
      {{/isType}}


      {{!-- Date & Forthcoming --}}
      {{#isType 'media, publication'}}
        <fieldset>

          <legend>Date</legend>

          <input
            id=date
            name=date
            type=date
            value='{{date}}'
            {{#if forthcoming}}disabled{{else}}required{{/if}}>

          {{#isType 'publication'}}
            <label for=forthcoming>
              <b>Forthcoming</b>
              <input id=forthcoming type=checkbox name=forthcoming {{#if forthcoming}}checked{{/if}}>
            </label>
          {{/isType}}


        </fieldset>
      {{/isType}}
      {{!-- End Date & Forthcoming fields --}}


      {{!-- End Year & Ongoing --}}
      {{#isType 'education, fieldwork, service, work'}}
        <fieldset>

          <legend>End Year</legend>

          <input
            id=endYear
            name=endYear
            placeholder=YYYY
            type=text
            value='{{endYear}}'
            {{#if ongoing}}disabled{{else}}required{{/if}}>

          <label for=ongoing>
            <b>Ongoing</b>
            <input id=ongoing type=checkbox name=ongoing {{#if ongoing}}checked{{/if}}>
          </label>

        </fieldset>
      {{/isType}}
      {{!-- End End Year & Ongoing fields --}}


      {{!-- Location --}}
      {{#isType 'education, fieldwork'}}
        <label for=location>

          <b>Location</b>

          <input
            inputmode=latin
            name=location
            placeholder=Location
            required
            type=text
            value='{{location}}'>

        </label>
      {{/isType}}


      {{!-- Proficiency Type --}}
      {{#isType 'proficiency'}}
        <label for=proficiencyType>

          <b>Proficiency Type</b>

          <select name=proficiencyType>
            <option value=skill {{#eq proficiencyType 'skill'}}selected{{/eq}}>skill</option>
            <option value=software {{#eq proficiencyType 'software'}}selected{{/eq}}>software</option>
          </select>

        </label>
      {{/isType}}


      {{!-- Categories --}}
      {{#isType 'award, fieldwork, language, media, membership, proficiency, publication, service, work'}}
        <fieldset class=categories>

          <legend>Categories</legend>

          {{#each cats}}
            <label>
              <input type=checkbox name=categories value='{{@key}}' {{#if this}}checked{{/if}}>
              <i>{{@key}}</i>
            </label>
          {{/each}}

        </fieldset>
      {{/isType}}


      {{!-- Description --}}
      {{#isType 'award, category, course, fieldwork, publication'}}
        <label for=description>

          <b>Description</b>

          <textarea
            inputmode=latin-prose
            name=description
            placeholder='A description of this item, in Markdown'
            row=8>{{description}}</textarea>

        </label>
      {{/isType}}


      {{!-- Achievements --}}
      {{#isType 'education, work'}}

        {{#*inline 'achievement'}}
          <li>

            <input
              inputmode=latin-prose
              name=achievements
              placeholder='Brief description of this achievement'
              type=text
              value='{{this}}'>

            <button type=button name=deleteAchievement>
              {{{../../icons.delete}}}
            </button>

          </li>
        {{/inline}}

        <fieldset>

          <legend>Achievements</legend>

          <ul id=achievements>
            {{#each achievements}}
              {{> achievement this}}
            {{/each}}
          </ul>

          <button id=addAchievement type=button name=addAchievement>Add Achievement</button>

          <template id=achievement-template>
            {{> achievement ''}}
          </template>

        </fieldset>

      {{/isType}}
      {{!-- End achievements --}}


      {{!-- References (Name, Email, Phone) --}}
      {{#isType 'reference'}}

        {{!-- Name --}}
        <label for=name>

          <b>Name</b>

          <input
            inputmode=latin-name
            name=name
            placeholder=Name
            required
            type=text
            value='{{name}}'>

        </label>

        {{!-- Email --}}
        <label for=email>

          <b>Email</b>

          <input
            inputmode=email
            name=email
            placeholder=Email
            required
            type=email
            value='{{email}}'>

        </label>

        {{!-- Phone --}}
        <label for=phone>

          <b>Phone Number</b>

          <input
            inputmode=tel
            name=phone
            placeholder='(###) ###-####'
            type=tel
            value='{{phone}}'>

        </label>

      {{/isType}}


      {{!-- Links --}}
      <fieldset>

        {{#*inline 'link'}}
          <li>

            {{> fileType}}

            <input
              inputmode=url
              name='{{@key}}'
              placeholder=URL
              type=url
              value='{{this}}'>

            <button type=button name=deleteLink>
              {{{../icons.delete}}}
            </button>

          </li>
        {{/inline}}

        <legend>Links</legend>

        <ul id=links>
          {{#each links}}
            {{> link}}
          {{/each}}
        </ul>

        <button id=addLink type=button name=addLink>Add Link</button>

        <template id=link-template>
          {{> link ''}}
        </template>

      </fieldset>


      {{!-- Files --}}
      <fieldset id=files>

        <legend>Files</legend>

        <ul class=bulleted>
          {{#each ../files}}
            <li>

              <p><a href='{{media}}'>{{key}} ({{fileType}})</a></p>

              <input type=hidden name='{{key}}' value='{{fileType}}'>

              <button type=submit name=deleteFile value='{{_self}}'>
                {{{../../icons.delete}}}
              </button>

            </li>
          {{/each}}
        </ul>

      </fieldset>


      {{!-- File Upload --}}
      <fieldset id=uploadFile>

        <legend>Add a File</legend>

        <div>

          {{> fileType name='fileType'}}

          <input
            accept=.pdf
            id=fileUpload
            multiple=false
            name=file
            type=file>

          <button
            formenctype=multipart/form-data
            id=uploadFileButton
            name=uploadFile
            type=submit
            value=true>Upload this File</button>

        </div>

      </fieldset>


      {{!-- Buttons --}}
      <div class=buttons>

        {{!-- Save button --}}
        <button id=saveButton type=submit name=saveItem value=true>Save</button>

        {{!-- Delete button --}}
        <button id=deleteButton type=submit name=deleteItem value=true>Delete</button>

      </div>
      {{!-- End buttons --}}


      {{/with}}
    {{/if}}

  </form>

</main>

{{#section 'script'}}

  <!-- Script for CV Editor -->
  <script src=/js/admin-cv.js type=module defer></script>

{{/section}}
