<section id={{CVTypes.languages.id}} class=cv-section>

  {{> cv/section-header/index CVTypes.languages.header}}

  <ol>
    {{#each CVItems.languages}}
      <li id='{{cvid}}' class=cv-item>
        <p class='cv-item-title language'><a href='{{links.info}}'>{{title}} (<span class=unicode lang='{{iso}}'>{{autonym}}</span>)</a></p>
        <p class=competency>{{competency}}</p>
      </li>
    {{/each}}
  </ol>

</section>
