<section id={{CVTypes.media.id}} class=cv-section>

  {{> cv/header-section/index CVTypes.media.header}}

  <ol>
    {{#each CVItems.media}}
      <li id='{{cvid}}' class=cv-item>

        {{> cv/date/index }}

        <p class=cv-item-content><a aria-label='Article Title: {{title}}' class=cv-item-title href='{{links.pub}}'>{{title}}</a>, by {{author}}. <cite>{{publication}}</cite></p>

      </li>
    {{/each}}
  </ol>

</section>
